<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ProjectCollectionUrl" value="https://clt-aed6008f-6658-41fe-9d3a-d4e79e773171.visualstudio.com/"/>
    <add key="ProjectName" value="ExampleApplication"/>
    <add key="ReleaseDefinitionName" value="ReleasePipe"/>-->
    <add key="pat" value="z7vka4tch3upvgiyhp5uhdldtk5fpr5x6yit523vkdnlryhimxza" />
    <add key="ProjectCollectionUrl" value="https://jitautomation.visualstudio.com/" />
    <add key="ProjectName" value="BecuAutomation" />
    <add key="ReleaseDefinitionName" value="ReleaseDef_Test" />
    <add key="ReleaseDefinitionNameOneEnv" value="ReleaseDef_Test_OneEnv" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>